<nav class="nav flex-column">
  <% Category.where(parent_id: nil).each do |category|%>
    <%= link_to category.title, category_path(category), class: 'nav-link active' %>
    <%= render 'categories/subcategories', subcategories: category.subcategories %>
  <% end %>
</nav>
