<div class="row">
</div>

<div class="row">
  <%= link_to_previous_page @products, 'Previous Page' %>
  <%= link_to_next_page @products, 'Next Page' %>
  <%= render @products %>
  <%= paginate @products, outer_window: 2 %>
</div>
