<%= form_with url: all_products_path(@product), method: :get do |form| %>
  <div class='form-group'>
    <%#= form.select (:order_by_title_asc, products.order_by_title_desc, products.order_by_price_asc, products.order_by_price_desc), { onchange: 'this.form.submit();' } %>
    <%= form.select :products, grouped_options_for_select({"sort by a-z" => @products.order_by_title_asc}, {"sort by z-a" => @products.order_by_title_desc}) %>

  </div>
<% end %>